.kotak-1 {
    height: 200px;
    width: 100%;
    background-color: pink;
    border: solid;
}

.cont2 {
    display: flex;
}

.kotak-2 {
    height: 200px;
    width: 200px;
    background-color: hotpink;
    border: solid;
    margin-top: 20px;
}

.kotak-3 {
    height: 200px;
    width: 100%;
    border: solid;
    background-color: bisque;
    margin-top: 20px;
    margin-left: 20px;
}

.cont3 {
    display: flex;
}

.kotak-4 {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border: solid;
    margin-top: 20px;
}

.kotak-5 {
    height: 200px;
    width: 100%;
    background-color: red;
    border: solid;
    margin-top: 20px;
    margin-left: 20px;
}